@import "vcl-bw-theme"
@import "vcl-font-awesome"
@import "vcl-core-modules"

:root
  --app-area-max-width: 70em
  --app-area-min-width: 20em
  --font-size: 1em
  --content-area-bg-color: #fdfdfd
  --app-header-bg-color: #fdfdfd
  --viewport-bg-color: #fdfdfd
  --app-area-bg-color: #fdfdfd
  --app-footer-bg-color: #fdfdfd
  --navigation-item-1st-level-bg-color: #fdfdfd
  --panel-border-color: transparent

@font-face
  font-family: 'FontAwesome'
  src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/fonts/fontawesome-webfont.eot')
  src: url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/fonts/fontawesome-webfont.woff') format('woff'), url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf') format('truetype'), url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg')
  font-weight: normal
  font-style: normal

@import "./includes/_timeline.styl"
@import "./includes/_blog.styl"
@import "./includes/_sidebar.styl"

header .vclBrandLogo img
  height: 48px
  padding-left: 0.5em

.viewportHeader
  border-top: 5px solid #424242
  border-bottom: 1px solid #e8e8e8

.viewportFooter
  border-top: 1px solid #e8e8e8


.vclApplicationHeader
  margin-bottom: 0
  margin-top: 0.85em

.vclNavigation
  margin-bottom: 0

h1,
h2,
h3,
h4,
h5,
h6
  font-weight: 300

.vclContentArea
  padding: 2em 1em

.vclColumn
  padding: 1em 0.5em

/**
 * Code formatting
 */
code
  font-size: 15px
  border: 1px solid #fdfdfd
  border-radius: 3px
  background-color: #eef

code
  padding: 1px 5px
  white-space: pre

.vclApplicationFooter .vclNavigation
  font-size: 0.85em

.vclApplicationFooter .vclNavigation a
  letter-spacing: 0px !important

.subscribe
  margin: 2em 0