{{#extend 'default'}}
  {{#content 'content'}}
    <p>This is an example web blog created using <a href="https://gena.60devs.com">Gena</a></p>

    <h2>Newsletter</h2>

    {{> 'newsletter'}}

  {{/content}}
{{/extend}}

