{{#extend 'default'}}
  {{#content 'content'}}
    <div class="">

      <div class="vclPanel">
        <div class="vclPanelHeader">
          <h3 class="vclPanelTitle">Recent Blog Posts</h3>
        </div>
        <div class="vclPanelBody">
          <div class="vclPanelContent">
            {{#top @root.site.posts}}
                <div class="vclPost">
                  <h2>
                    <a class="vclPostLink" href="{{url}}">{{title}}</a>
                  </h2>
                  <a href="{{url}}"><p class="vclPostMeta">{{excerpt excerpt}}</p></a>
                </div>
            {{/top}}
            <a href="blog.html" class="vclButton vclSuggestive vclCenterBlock">
              <span>More Posts</span>
            </a>
          </div>
        </div>
      </div>

    </div>
  {{/content}}
{{/extend}}
