<div class="vclGridRow subscribe">
  <div class="vclGridSpan-100p">
    <a href="http://eepurl.com/biiKcz">
      <button type="button" class="vclButton vclCenterBlock">
        <div class="vclIcogram">
          <div class="vclIcon fa fa-envelope" aria-hidden="true" role="img"></div>
          <span class="vclText">Subscribe to our newsletter</span>
        </div>
      </button>
    </a>
  </div>
</div>