<div class="vclPanel">
  <div class="vclPanelHeader">
    <h3 class="vclPanelTitle">Recent Tweets</h3>
  </div>
  <div class="vclPanelBody">
    <div class="vclPanelContent">
      <div class="vclCenterBlock vclAlignCentered" style="width: 90%">
        <a class="twitter-timeline" href="https://twitter.com/60devs/lists/60devs" data-widget-id="613050060440530944" data-chrome="transparent nofooter noborders noscrollbar noheader" data-tweet-limit="3">Tweets from https://twitter.com/60devs/lists/60devs</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>
  </div>
</div>